<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div>
            <h1>{{ site.title }}</h1>
            <nav>
                <a href="../index.html">Home</a>
                <span> ~ </span>
                <a href="../about-us.html">About us</a>
                <span> ~ </span>
                <a href="../posts.html">Posts</a>
            </nav>
            <h2>{{ page.title }}</h2>
            {{ page.content }}
        </div>
    </body>
</html>
