<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <style>
html {
    font-family:serif;
    font-size:1.1rem;
    color:#333;
}

body {
    margin:0 auto;
    max-width:55%;
}
a {
    color:blue;
}
nav > ul {
    list-style:none;
    margin:0;
    padding:0;
}
nav > ul > li {
    display:inline-block;
}
nav > ul > li:not(:first-child)::before {
    content:"~ ";
}
        </style>
    </head>
    <body>
        <main>
            <h1>{{ site.title }}</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about-us.html">About us</a></li>
                    <li><a href="posts.html">Posts</a></li>
                </ul>
            </nav>
            <h2>{{ page.title }}</h2>
            {{ page.content }}
        </main>
    </body>
</html>
