<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <h1> {{ site.title }} </h1>
    <ul>
      {% for article in site.data.contents.published %}
        <li><a href="{{ article.url | prepend: site.base_url }}">{{ article.title }}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
