<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ site.title }}</title>
        <style>
html {
    font-family:serif;
    font-size:1.1rem;
    color:#333;
}

body {
    margin:0 auto;
    max-width:55%;
}
a {
    color:blue;
}
        </style>
    </head>
    <body>
        <div>
            <h1>{{ site.title }}</h1>
            <nav>
                <a href="index.html">Home</a>
                <span> ~ </span>
                <a href="about-us.html">About us</a>
                <span> ~ </span>
                <a href="posts.html">Posts</a>
            </nav>
            {{ page.content }}
        </div>
    </body>
</html>
