<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
    </head>
    <body>
        <div>
            <h1>{{ site.title }}</h1>
            {{ page.content }}
        </div>
    </body>
</html>
